body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(120, 34, 201);

}
.container {
  
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.header {
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  width: fit-content;
  
}
.wrapper{

  text-align: center;
  border-radius: 10px;
  border-color: antiquewhite;
  border-style: solid;
  
}

.screen{

  height: 100px;
  width: 95%;
  margin: 10px;
  padding: 10px 10px;
  background-color:rgb(137, 212, 218);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
 
}
.keypad{
  margin-bottom: 10px;;
}
.button{
  display: inline-block;
  width: 23%;
  height: 50px;
  border: none;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
